<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Checkbox Elements - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">
	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>Elements of tip <b>checkbox</b> are used to display an element, whose value may be changed between two states: on, and off.</p>
		<p>By default, the on state is associated with 1, and the off state is associated with 0</p>
		<p>The value for the two states may be customly defined.</p>
		<p>Its functionality is extremely similar to that of the <b>switch</b> control. They differ from one another only visually.</p>
		<p>If the element is in a form, and it is porperly configured, the form will automatically retrive its value on the save operation, if the checkbox has been changed.</p>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
		
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - Simple Checkbox Element</h3>
			<div class="ace-col-12 small-text">
				<ul>
					<li>The checked state returns the value 1, and the unchecked state returns the value 0.</li>
				</ul>
			</div>
		</div>
		
		<div
	            class="ace-auto-gen ace-col-8"
	            type="checkbox"
	            label="Label"
	            labelwidth="200px"
	    ></div>
	    
	    <div class="ace-col-4 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
		    <div
		            class="ace-auto-gen"
		            type="button"
		            value="Toggle Label Placement"
		            action="toggleLabelPlacementCheckbox"
		    ></div>
		    
		    <div
		            class="ace-auto-gen"
		            type="button"
		            value="Get value"
		            action="getValueCheckbox"
		    ></div>
	    </div>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - custom on and off values, initial value, onchange event</h3>
			<div class="ace-col-12 small-text">
				<ul>
					<li>In this example, the default values for checked and unchecked have been replaced with custom ones.</li>
					<li>Press <i>Get value</i> to discover them.</li>
					<li>If the field is readonly, its value may not be modified.</li> 
					<li>Each time the value is switched, an onchange event is triggered, which can be interecepted.</li>
					<li>In this example, the field is initially in its checked state</li>
				</ul>
			</div>
		</div>
	
		<div
	            class="ace-auto-gen ace-col-8"
	            type="checkbox"
	            
	            label="Ex. 2 - custom on and off values"
	            labelalign="left"
	            labelwidth="400px"
	            
	            on="123"
	            off="321"
	            
	            checked="true"
	            onchange="onCheckboxChange"
	            
	    ></div>
	    
	    <div class="ace-col-4 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
	    
		    <div
		            class="ace-auto-gen"
		            type="button"
		            value="Toggle Readonly"
		            action="toggleReadonlyCheckbox"
		    ></div>
		    
		    <div
		            class="ace-auto-gen"
		            type="button"
		            value="Get value"
		            action="getValueCheckbox"
		    ></div>
	    </div>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
		
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 3 - Style Modifiers</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>stlye modifiers are classes that may be given elements to alter their appearance.</li>
					<li>bellow are examples of how these classes affect the fields</li>
				</ul>
			</div>
			
		</div>
		
		<div class="ace-col-12">
			
			<div class="ace-col-12 ace-medium-padding">
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-bold" type="display" value="no modifier"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right" type="checkbox" label="Label"></div>
			</div>
			
			<div class="ace-col-12 ace-medium-padding">
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-bold" type="display" value="ace-state-check"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-state-check" type="checkbox" label="Label"></div>
			</div>
			
			<div class="ace-col-12 ace-medium-padding">
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-bold" type="display" value="ace-checkbox-title"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-checkbox-title" type="checkbox" label="Label"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-checkbox-title ace-state-check" type="checkbox" label="Label"></div>
			</div>

			<div class="ace-col-12 ace-medium-padding ace-attention">
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-bold" type="display" value="ace-attention"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right" type="checkbox" label="Label" checked="true"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-checkbox-title" type="checkbox" label="Label" checked="true"></div>
				<div class="ace-col-3 ace-col-fm-3 ace-auto-gen ace-medium-padding-right ace-checkbox-title ace-state-check" type="checkbox" label="Label" checked="true"></div>
			</div>
			
		</div>
		
	</div>


</div>

<script>

    function checkbox_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/elements/js/checkbox.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
