<html style="direction:{__PH_ALGN}" dir="{__PH_ALGN}">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

	<!-- make it SO that these PATHS are correctly loaded on your local machine -->

	<link href="{__PH_ACE_CSS_LINK}" type="text/css" rel="stylesheet" />
	<link href="./layout/css/fontawesome-pro-5.10.0-11-web/css/all.min.css" type="text/css" rel="stylesheet" >
	<link href="./layout/css/ks.css" type="text/css" rel="stylesheet" >
	
	{__PH_THEMES}

	<script src="./layout/libs/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="./layout/libs/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="./layout/libs/moment/moment.min.js" type="text/javascript"></script>

	<!--	<script src="https://cdn.jsdelivr.net/gh/GoAswaq/acejs/lang/en.js" type="text/javascript"></script>-->
	<!--	<script src="https://cdn.jsdelivr.net/gh/GoAswaq/acejs/ace.js" type="text/javascript"></script>-->
	<script src="https://sbox2.7sab.com/thinkITShared///js_csslibs/thinkITJQplugins/ace/lang/en.js" type="text/javascript"></script>
	<script src="https://sbox2.7sab.com/thinkITShared///js_csslibs/thinkITJQplugins/ace/ace.js?v=2.0.1" type="text/javascript"></script>
	 
	<script src="./layout/html/main/js/test_view.js" type="text/javascript"></script>
	
</head>

<body style="background-image:url(./layout/imgs/bk-pattern.png)">

<!-- to be replaced by targeted content -->

</body>

</html>