<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Column Classes - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">
	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>This <i>ace-col-</i>classes can be used to set the width of ACE fields, ace grid columns, and normal html elements.</p>
		<p>A subset of these classes may even be used to set the vertical height of elements. See Ex. 7.<p>
	</div>
	
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - ace-col Basic</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-col-1</i> to <i>ace-col-12</i> are a set if classes which set the width of an element.</li>
					<li>This system devides the max available width in 12 segments of identical length.</li>
					<li><i>ace-col-1</i> is the length of a segment, <i>ace-col-2</i> is the length of 2 segments and so on until <i>ace-col-12</i> which stretches the entire available width.</li>
					<li>This classes on windows with the resolution bellow 680px all act as if they are <i>ace-col-12</i>: width = 100%</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12">
			
			<div class="ace-col-12"><div class="ace-col-1 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-12"><div class="ace-col-2 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-12"><div class="ace-col-3 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-12"><div class="ace-col-4 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-12"><div class="ace-col-5 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-12"><div class="ace-col-7 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-12"><div class="ace-col-8 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-12"><div class="ace-col-9 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-12"><div class="ace-col-10 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-12"><div class="ace-col-11 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-12"><div class="ace-col-12 ace-ta-center ks-test-color-12">12</div></div>
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - ace-col Thin</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-thin-col-1</i> to <i>ace-thin-col-24</i> are a set if classes which set the width of an element.</li>
					<li>This system devides the max available width in 24 segments of identical length.</li>
					<li><i>ace-thin-col-1</i> is the length of a segment, <i>ace-thin-col-2</i> is the length of 2 segments and so on until <i>ace-thin-col-24</i> which stretches the entire available width.</li>
					<li>This classes on windows with the resolution bellow 680px all act as if they are <i>ace-thin-col-24</i>: width = 100%</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12">
			
			<div class="ace-col-12"><div class="ace-thin-col-1 ace-ta-center ks-test-color-1">t1</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-2 ace-ta-center ks-test-color-2">t2</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-3 ace-ta-center ks-test-color-3">t3</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-4 ace-ta-center ks-test-color-4">t4</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-5 ace-ta-center ks-test-color-5">t5</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-6 ace-ta-center ks-test-color-6">t6</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-7 ace-ta-center ks-test-color-7">t7</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-8 ace-ta-center ks-test-color-8">t8</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-9 ace-ta-center ks-test-color-9">t9</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-10 ace-ta-center ks-test-color-10">t10</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-11 ace-ta-center ks-test-color-11">t11</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-12 ace-ta-center ks-test-color-12">t12</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-13 ace-ta-center ks-test-color-13">t13</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-14 ace-ta-center ks-test-color-14">t14</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-15 ace-ta-center ks-test-color-15">t15</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-16 ace-ta-center ks-test-color-16">t16</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-17 ace-ta-center ks-test-color-17">t17</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-18 ace-ta-center ks-test-color-18">t18</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-19 ace-ta-center ks-test-color-19">t19</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-20 ace-ta-center ks-test-color-20">t20</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-21 ace-ta-center ks-test-color-21">t21</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-22 ace-ta-center ks-test-color-22">t22</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-23 ace-ta-center ks-test-color-23">t23</div></div>
			<div class="ace-col-12"><div class="ace-thin-col-24 ace-ta-center ks-test-color-24">t24</div></div>
			
	    </div>
	    
	</div>
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 3 - ace-col Extra-Thin</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-extra-thin-col-1</i> to <i>ace-extra-thin-col-48</i> are a set if classes which set the width of an element.</li>
					<li>This system devides the max available width in 48 segments of identical length.</li>
					<li><i>ace-extra-thin-col-1</i> is the length of a segment, <i>ace-extra-thin-col-2</i> is the length of 2 segments and so on until <i>ace-extra-thin-col-48</i> which stretches the entire available width.</li>
					<li>This classes on windows with the resolution bellow 680px all act as if they are <i>ace-extra-thin-col-48</i>: width = 100%</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12">
			
			<div class="ace-col-12"><div class="ace-extra-thin-col-1 ace-ta-center ks-test-color-1">et1</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-2 ace-ta-center ks-test-color-2">et2</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-3 ace-ta-center ks-test-color-3">et3</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-4 ace-ta-center ks-test-color-4">et4</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-5 ace-ta-center ks-test-color-5">et5</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-6 ace-ta-center ks-test-color-6">et6</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-7 ace-ta-center ks-test-color-7">et7</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-8 ace-ta-center ks-test-color-8">et8</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-9 ace-ta-center ks-test-color-9">et9</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-10 ace-ta-center ks-test-color-10">et10</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-11 ace-ta-center ks-test-color-11">et11</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-12 ace-ta-center ks-test-color-12">et12</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-13 ace-ta-center ks-test-color-13">et13</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-14 ace-ta-center ks-test-color-14">et14</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-15 ace-ta-center ks-test-color-15">et15</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-16 ace-ta-center ks-test-color-16">et16</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-17 ace-ta-center ks-test-color-17">et17</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-18 ace-ta-center ks-test-color-18">et18</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-19 ace-ta-center ks-test-color-19">et19</div></div>
						
			<div class="ace-col-12"><div class="ace-extra-thin-col-20 ace-ta-center ks-test-color-20">et20</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-21 ace-ta-center ks-test-color-21">et21</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-22 ace-ta-center ks-test-color-22">et22</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-23 ace-ta-center ks-test-color-23">et23</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-24 ace-ta-center ks-test-color-24">et24</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-25 ace-ta-center ks-test-color-1">et25</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-26 ace-ta-center ks-test-color-2">et26</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-27 ace-ta-center ks-test-color-3">et27</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-28 ace-ta-center ks-test-color-4">et28</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-29 ace-ta-center ks-test-color-5">et29</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-30 ace-ta-center ks-test-color-6">et30</div></div>
			
			<div class="ace-col-12"><div class="ace-extra-thin-col-31 ace-ta-center ks-test-color-7">et31</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-32 ace-ta-center ks-test-color-8">et32</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-33 ace-ta-center ks-test-color-9">et33</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-34 ace-ta-center ks-test-color-10">et34</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-35 ace-ta-center ks-test-color-11">et35</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-36 ace-ta-center ks-test-color-12">et36</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-37 ace-ta-center ks-test-color-13">et37</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-38 ace-ta-center ks-test-color-14">et38</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-39 ace-ta-center ks-test-color-15">et39</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-40 ace-ta-center ks-test-color-16">et40</div></div>
			
			<div class="ace-col-12"><div class="ace-extra-thin-col-41 ace-ta-center ks-test-color-17">et41</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-42 ace-ta-center ks-test-color-18">et42</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-43 ace-ta-center ks-test-color-19">et43</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-44 ace-ta-center ks-test-color-20">et44</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-45 ace-ta-center ks-test-color-21">et45</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-46 ace-ta-center ks-test-color-22">et46</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-47 ace-ta-center ks-test-color-22">et47</div></div>
			<div class="ace-col-12"><div class="ace-extra-thin-col-48 ace-ta-center ks-test-color-24">et48</div></div>
			
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 4 - ace-col Small</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-col-m-1</i> to <i>ace-col-m-12</i> are a set if classes which set the width of an element.</li>
					<li>These classes take effect only on windows with the resolution between 681px and 1023px</li>
					<li><i>ace-col-m-1</i> is the length of a segment, <i>ace-col-m-2</i> is the length of 2 segments and so on until <i>ace-col-m-12</i> which stretches the entire available width.</li>
					<li>This classes on windows with the resolution bellow 680px all act as if they are <i>ace-col-12</i>: width = 100%</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
					<li>In this example, on a normal desktop resolution the colored divs are sized with ace-col-6. But when the window is resized between 681-1023px, the <i>ace-col-m-</i> classes get activated.</li> 
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12">
			
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-1 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-2 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-3 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-4 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-5 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-7 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-8 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-9 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-10 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-11 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-m-12 ace-ta-center ks-test-color-12">12</div></div>
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 5 - ace-col Very Small</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-col-fm-1</i> to <i>ace-col-fm-12</i> are a set if classes which set the width of an element.</li>
					<li>These classes take effect only on windows with the resolution between 320px and 680px</li>
					<li><i>ace-col-fm-1</i> is the length of a segment, <i>ace-col-fm-2</i> is the length of 2 segments and so on until <i>ace-col-fm-12</i> which stretches the entire available width.</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
					<li>In this example, on a normal desktop resolution the colored divs are sized with ace-col-6. But when the window is resized between 320-680px, the <i>ace-col-fm-</i> classes get activated.</li> 
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12">
			
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-1 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-2 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-3 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-4 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-5 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-7 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-8 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-9 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-10 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-11 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-12"><div class="ace-col-6 ace-col-fm-12 ace-ta-center ks-test-color-12">12</div></div>
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 6 - ace-col-l- </h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-col-l-1</i> to <i>ace-col-l-12</i> are a set if classes which set the width of an element.</li>
					<li>These classes take effect only on windows with the resolution between 1024px and 1366px</li>
					<li><i>ace-col-l-1</i> is the length of a segment, <i>ace-col-l-2</i> is the length of 2 segments and so on until <i>ace-col-l-12</i> which stretches the entire available width.</li>
					<li>To test this, resize the browser window until the resolution requirement is reached.</li>
					<li>In this example, on a normal desktop resolution the colored divs are sized with ace-col-6. But when the window is resized between 1024-1366px, the <i>ace-col-l-</i> classes get activated.</li> 
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12"><div class="ace-col-l-1 ace-col-6 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-12"><div class="ace-col-l-2 ace-col-6 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-12"><div class="ace-col-l-3 ace-col-6 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-12"><div class="ace-col-l-4 ace-col-6 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-12"><div class="ace-col-l-5 ace-col-6 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-12"><div class="ace-col-l-6 ace-col-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-12"><div class="ace-col-l-7 ace-col-6 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-12"><div class="ace-col-l-8 ace-col-6 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-12"><div class="ace-col-l-9 ace-col-6 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-12"><div class="ace-col-l-10 ace-col-6 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-12"><div class="ace-col-l-11 ace-col-6 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-12"><div class="ace-col-l-12 ace-col-6 ace-ta-center ks-test-color-12">12</div></div>
		</div>
	
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 7 - ace-vcol Vertical</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-vcol-1</i> to <i>ace-vcol-12</i> are a set if classes which set the height of an element.</li>
					<li>This system devides the max available height in 12 segments of identical length.</li>
					<li><i>ace-vcol-1</i> is the length of a segment, <i>ace-vcol-2</i> is the length of 2 segments and so on until <i>ace-vcol-12</i> which stretches the entire available height.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12" style="height:100px;">
			
			<div class="ace-col-1"><div class="ace-vcol-1 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-1"><div class="ace-vcol-2 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-1"><div class="ace-vcol-3 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-1"><div class="ace-vcol-4 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-1"><div class="ace-vcol-5 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-1"><div class="ace-vcol-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-1"><div class="ace-vcol-7 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-1"><div class="ace-vcol-8 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-1"><div class="ace-vcol-9 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-1"><div class="ace-vcol-10 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-1"><div class="ace-vcol-11 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-1"><div class="ace-vcol-12 ace-ta-center ks-test-color-12">12</div></div>
			
	    </div>
	    
	</div>
	
</div>

<script>

    function cols_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/cols.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
