<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-col-2 ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Cards - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">

	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>These classes are used to set various distinct view styles on specific regions.</p>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - Entry Cards</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>An Entry Card is a container, that can colapse and expand itself to full screen.</li>
					<li>To define an Entry Card, use the class: <i>ace-entry-card</i>.</li>
					<li>To define a title bar region, use one of the classes: <i>ace-entry-card-title</i> or <i>ace-title-bar</i>.</li>
					<li>To toggle full screen, use the class <i>ace-full-screen</i>.</li>
					<li>To toggle collapsed state, use the class <i>ace-colapsed</i>.</li>
					<li>Verious specific styles are applied to different element types.</li>
				</ul>
			</div>
		</div>
		
    	<div class="ace-col-12">
			
			<div class="ace-entry-card ace-small-margin-right ace-col-4">
				
				<div class="ace-col-12 ace-entry-card-title">
					<div class="ace-auto-gen ks-hide-uncollapsed"
						 type="button"
						 value=""
						 iconcls="fal fa-chevron-circle-left"
						 action="onEntryCardCollapsed"
					>
					</div>
					
					<h2 class="ace-col-12">Entry Card #1 - ace-entry-card-title </h2>
				</div>
				
				<h5 class="ace-col-12 ace-small-margin-top">Subtitle - H5</h5>
				
				<div class="ace-col-12 ace-small-padding-top ace-small-padding-bottom">
				
					<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
					<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
					<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
					
				</div>
				
				<div class="ace-col-12 ace-flex ace-flex-justify-spacearound">
				
					<div class="ace-auto-gen ace-medium-padding-right ace-state-check" type="checkbox" label="Fullscreen" onchange="onEntryCardFullScreen"></div>
					<div class="ace-auto-gen ace-medium-padding-right ace-state-check collapse-check" type="checkbox" label="Collapsed"  onchange="onEntryCardCollapsed"></div>
					
				</div>
				
				
				
		    </div>
		    
			<div class="ace-entry-card ace-small-margin-right ace-col-4">
			
				<div class="ace-col-12 ace-title-bar">
					<div class="ace-auto-gen ks-hide-uncollapsed"
						 type="button"
						 value=""
						 iconcls="fal fa-chevron-circle-left"
						 action="onEntryCardCollapsed"
					>
					</div>
					
					<h2 class="ace-col-12">Entry Card #2 - ace-title-bar</h2>
				</div>
				
				<h5 class="ace-col-12 ace-small-margin-top">Subtitle - H5</h5>
				
				<div class="ace-col-12 ace-small-padding-top ace-small-padding-bottom">
				
					<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
					<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
					<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
					
				</div>
				
				<div class="ace-col-12 ace-flex ace-flex-justify-spacearound">
				
					<div class="ace-auto-gen ace-medium-padding-right ace-state-check" type="checkbox" label="Fullscreen" onchange="onEntryCardFullScreen"></div>
					<div class="ace-auto-gen ace-medium-padding-right ace-state-check collapse-check" type="checkbox" label="Collapsed"  onchange="onEntryCardCollapsed"></div>
					
				</div>
				
				
				
		    </div>

    	</div>
    	
    	<div class="ace-col-12">
	
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - Simple Cards</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>A Simple Card is used to highlight the text elements.</li>
					<li>To create one, use the class <i>ace-simple-card</i>.</li>
					<li>Verious specific styles are applied to different element types.</li>
				</ul>
			</div>
		</div>
		
    	<div class="ace-col-12">
			
			<div class="ace-simple-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details!</h3>
                access your own personal details
                
                <div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
				
		    </div>
		    
		    <a href="#" class="ace-simple-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details</h3>
                access your own personal details
				
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
					
		    </a>

			<a href="#" class="ace-simple-card ace-small-padding ace-small-margin ace-col-4">

				<div class="ace-simple-card-fixed-image">
					<img src="./layout/imgs/logouser.png"/>
				</div>
                <h3>Personal Details</h3>
                access your own personal details

				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>

		    </a>
		    
    	</div>
    	
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 3 - Icon Cards</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>An Icon Card is used to display large icons, with a centralized text.</li>
					<li>To create one, use the class <i>ace-icon-card</i>.</li>
					<li>The modifier <i>ace-icon-card-small</i> can be added, to change their behaviour, and display a smaller icon.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
		
			<div
	            class="ace-auto-gen "
	            type="checkbox"
	            label="ace-icon-card-small"
	            onchange="toggleCardModifier"
	    	></div>
			
    	</div>
		
    	<div class="ace-col-12">
			
			<div class="ace-icon-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details</h3>
                access your own personal details
                
                <div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
				
		    </div>
		    
		    <a href="#" class="ace-icon-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details</h3>
                access your own personal details
				
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
					
		    </a>
		    
    	</div>
    	
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 4 - Siple Card  + Icon Cards</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>The cards may be combined, like in this example:</li>
					<li>simple card + icon card.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
		
			<div
	            class="ace-auto-gen "
	            type="checkbox"
	            label="ace-icon-card-small"
	            onchange="toggleCardModifier"
	    	></div>
			
    	</div>
		
    	<div class="ace-col-12">
			
			<div class="ace-simple-card ace-icon-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details</h3>
                access your own personal details
                
                <div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
				
		    </div>
		    
		    <a href="#" class="ace-simple-card ace-icon-card ace-small-padding ace-small-margin ace-col-4">
				
				<i class="fad fa-briefcase-medical"></i>
                <h3>Personal Details</h3>
                access your own personal details
				
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 1"></div>
				<div class="ace-auto-gen ace-col-12" type="display" label="Label" labelalign="left" labelwidth="100px" value="display 2"></div>
				<div class="ace-auto-gen ace-col-12  ace-h2" type="display" value="display 3 ace-h2"></div>
					
		    </a>
		    
    	</div>
    	
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 5 - Entry Panels</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>This type of panel can be used to format the information displayed in grid of type panel.</li>
					<li>To create such a panel, use the <i>ace-entry</i> class.</li>
					<li>It brings several styles to display fields, and images, and fa-many-arrows icon type.</li>
					<li>Modifiers:
						<ul>
							<li><i>ace-active</i>: it changes the style of the card</li>
							<li><i>ace-entry-subtitle</i>: marks the elements a subtitle</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-5 ace-small-margin">
		
			<div class="ace-left ace-entry ace-small-margin ace-col-12">
		        <img src="./layout/imgs/logouser.png" class="ace-left" />
		        <div class="ace-flex ace-flex-wrap-yes">
			        <div class="ace-auto-gen ace-left ace-flex-full-width "
			             type="display"
			             value="This is a standalone entry panel"
			             >
			        </div>
					<div class="ace-auto-gen ace-left ace-entry-subtitle"
			             type="display"
			             value="this is a subtitle">
			        </div>
		        </div>
		         <i class="fad fa-many-arrows"></i>
		    </div>
		    
			<div class="ace-left ace-entry ace-active ace-small-margin ace-col-12">
		        <img src="./layout/imgs/logouser.png" class="ace-left" />
		        <div class="ace-flex ace-flex-wrap-yes">
			        <div class="ace-auto-gen ace-left ace-flex-full-width "
			             type="display"
			             value="This entry panel is activated!"
			             >
			        </div>
					<div class="ace-auto-gen ace-left ace-entry-subtitle"
			             type="display"
			             value="this is a subtitle">
			        </div>
		        </div>
		         <i class="fad fa-many-arrows"></i>
		    </div>
		
		</div>
		
    	<div class="ace-col-5 ace-small-margin">
			
			<div id="ace-entry-grid" class="ace-auto-gen ace-col-12 ace-grid-height-minus-250"></div>
		    
    	</div>
    	
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 6 - Checkable Cards</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>Checkable cards define areas that can be clicked.</li>
					<li>How to create one:
						<ul>
							<li>Create a label, and give it the class <i>ace-checkable-card</i>.</li>
							<li>Inside the label, add an input field of type checkbox.</li>
							<li>Inside the label, add an empty span element, and give it the class <i>ace-card-highlight</i>.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
    	<div class="ace-col-12 ace-vcol-3">
			
			<label class="ace-col-3 ace-small-margin ace-checkable-card">
				<input type="checkbox">
				<span class="ace-card-highlight"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</label>
			
			<label class="ace-col-3 ace-small-margin ace-checkable-card">
				<input type="checkbox" checked>
				<span class="ace-card-highlight"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
			</label>
			
			<label class="ace-col-3 ace-small-margin ace-checkable-card">
				<input type="checkbox">
				<span class="ace-card-highlight"></span>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			
			</label>
		    
    	</div>
    	
	</div>
	
</div>

<div id="test-ace-entry-tpl" class="ace-hide">
    <div class="ace-left ace-entry ace-small-margin-right ace-col-12">
        <img src="./layout/imgs/logouser.png" class="ace-left" />
        <div class="ace-flex ace-flex-wrap-yes">
	        <div class="ace-auto-gen ace-left ace-flex-full-width "
	             type="display"
	             fieldname="student_name"
	             renderer="rendererStudent"
	             >
	        </div>
			<div class="ace-auto-gen ace-left ace-entry-subtitle"
	             type="display"
	             fieldname="student_id">
	        </div>
        </div>
         <i class="fad fa-many-arrows"></i>
    </div>
</div>

<script>

    function entrycard_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/entrycard.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
