<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Height Classes - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">

	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>This classes help set the height of elements.</p>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - Classes that set the height based on the full height of their parent, minus a fixed amount a pixels.</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-full-height</i>: set the height to 100%.</li>
					<li>All other classes set the height to 100% - FIXED amount, where the fixed amount is the number specifeid in the class name:<br>
						<i>ace-height-minus-50,ace-height-minus-60,ace-height-minus-80,<br>
						ace-height-minus-100,ace-height-minus-120,ace-height-minus-150,<br>
						ace-height-minus-200,ace-height-minus-230,ace-height-minus-250,ace-height-minus-290,<br>
						ace-height-minus-300,ace-height-minus-350,<br>
						ace-height-minus-400,ace-height-minus-450
						</i>
					</li>
					<li><b>Attention</b>: there is another set of classes, which instead of the <i>ace-</i> prefix are using the <i>ace-i-</i> prefix. This classes all use the <b>!important</b> modifier.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12 ace-green-bg" style="height:500px;">
			
			<div class="ace-thin-col-1"><div class="ace-full-height ace-ta-center ks-test-color-1">100%</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-50 ace-ta-center ks-test-color-2">-50</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-60 ace-ta-center ks-test-color-3">-60</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-80 ace-ta-center ks-test-color-4">-80</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-100 ace-ta-center ks-test-color-5">-100</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-120 ace-ta-center ks-test-color-6">-120</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-150 ace-ta-center ks-test-color-7">-150</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-200 ace-ta-center ks-test-color-8">-200</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-230 ace-ta-center ks-test-color-9">-230</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-250 ace-ta-center ks-test-color-10">-250</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-290 ace-ta-center ks-test-color-11">-290</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-300 ace-ta-center ks-test-color-12">-300</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-350 ace-ta-center ks-test-color-13">-350</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-400 ace-ta-center ks-test-color-14">-400</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-450 ace-ta-center ks-test-color-15">-450</div></div>
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - Classes that set the height based on the full height of the View Port, minus a fixed amount a pixels.</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-full-height-vh</i>: set the height to 100%.</li>
					<li>All other classes set the height to 100% - FIXED amount, where the fixed amount is the number specifeid in the class name:<br>
						<i>ace-height-minus-50-vh,ace-height-minus-60-vh,ace-height-minus-80-vh,<br>
						ace-height-minus-100-vh,ace-height-minus-120-vh,ace-height-minus-150-vh,<br>
						ace-height-minus-200-vh,ace-height-minus-230-vh,ace-height-minus-250-vh,ace-height-minus-290-vh,<br>
						ace-height-minus-300-vh,ace-height-minus-350-vh,<br>
						ace-height-minus-400-vh,ace-height-minus-450-vh
						</i>
					</li>
					<li><b>Attention</b>: there is another set of classes, which instead of the <i>ace-</i> prefix are using the <i>ace-i-</i> prefix. This classes all use the <b>!important</b> modifier.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12 ace-green-bg ace-scrollview" style="height:500px;">
			
			<div class="ace-thin-col-1"><div class="ace-full-height-vh  ace-ta-center ks-test-color-1">100%</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-50-vh  ace-ta-center ks-test-color-2">-50</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-60-vh  ace-ta-center ks-test-color-3">-60</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-80-vh  ace-ta-center ks-test-color-4">-80</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-100-vh  ace-ta-center ks-test-color-5">-100</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-120-vh  ace-ta-center ks-test-color-6">-120</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-150-vh  ace-ta-center ks-test-color-7">-150</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-200-vh  ace-ta-center ks-test-color-8">-200</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-230-vh  ace-ta-center ks-test-color-9">-230</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-250-vh  ace-ta-center ks-test-color-10">-250</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-290-vh  ace-ta-center ks-test-color-11">-290</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-300-vh  ace-ta-center ks-test-color-12">-300</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-350-vh  ace-ta-center ks-test-color-13">-350</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-400-vh  ace-ta-center ks-test-color-14">-400</div></div>
			<div class="ace-thin-col-1"><div class="ace-height-minus-450-vh  ace-ta-center ks-test-color-15">-450</div></div>
			
	    </div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 3 - ace-vcol Vertical</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-vcol-1</i> to <i>ace-vcol-12</i> are a set if classes which set the height of an element.</li>
					<li>This system devides the max available height in 12 segments of identical length.</li>
					<li><i>ace-vcol-1</i> is the length of a segment, <i>ace-vcol-2</i> is the length of 2 segments and so on until <i>ace-vcol-12</i> which stretches the entire available height.</li>
				</ul>
			</div>
		</div>
	
		<div class="ace-col-12 ace-green-bg" style="height:100px;">
			
			<div class="ace-col-1"><div class="ace-vcol-1 ace-ta-center ks-test-color-1">1</div></div>
			<div class="ace-col-1"><div class="ace-vcol-2 ace-ta-center ks-test-color-2">2</div></div>
			<div class="ace-col-1"><div class="ace-vcol-3 ace-ta-center ks-test-color-3">3</div></div>
			<div class="ace-col-1"><div class="ace-vcol-4 ace-ta-center ks-test-color-4">4</div></div>
			<div class="ace-col-1"><div class="ace-vcol-5 ace-ta-center ks-test-color-5">5</div></div>
			<div class="ace-col-1"><div class="ace-vcol-6 ace-ta-center ks-test-color-6">6</div></div>
			<div class="ace-col-1"><div class="ace-vcol-7 ace-ta-center ks-test-color-7">7</div></div>
			<div class="ace-col-1"><div class="ace-vcol-8 ace-ta-center ks-test-color-8">8</div></div>
			<div class="ace-col-1"><div class="ace-vcol-9 ace-ta-center ks-test-color-9">9</div></div>
			<div class="ace-col-1"><div class="ace-vcol-10 ace-ta-center ks-test-color-10">10</div></div>
			<div class="ace-col-1"><div class="ace-vcol-11 ace-ta-center ks-test-color-11">11</div></div>
			<div class="ace-col-1"><div class="ace-vcol-12 ace-ta-center ks-test-color-12">12</div></div>
			
	    </div>
	    
	</div>
	
</div>

<script>

    function heights_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/cols.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
