<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-col-2 ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Presentation Panel Classes - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">

	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>One of the types of panels predefined in the ace classes.</p>
		<p>Presentation Panels have 3 main divs:</p>
		<ul>
			<ol>a container, identified by the <i>ace-presentation-container</i> class</ol>
			<ol>a main child of the container parent identified by the class <i>ace-presentation-main</i></ol>
			<ol>a smaller child of the container parent identified by the class <i>ace-presentation-info</i></ol>
		</ul>
		<p>by default, on mobile screen the information child moves bellow the main child, except if the parent has the class <i>ace-presentation-hide-mobile-info</i> </p>
		<p>the information child usually has a different color schemes than the main one</p>
		<p>add the class <i>ace-presentation-container-reverse</i> to the container to place the info container to the left</p>
		<p>add the class <i>ace-presentation-hidden-info</i> to the container to hide the info panel when desired</p>

	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - Single Panel</h3>
		</div>

		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">

			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Show / Hide on Mobile" onchange="togglePresentationInfoHideOnMobile"></div>
			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Left Align" onchange="togglePresentationInfoLeftAlign"></div>
			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Show / Hide Explicit" onchange="togglePresentationInfoHideExplicit"></div>

		</div>

		<div class="ace-col-12 ks-target">
			
			<div id="ex-1-presentation" class="ace-col-12 ace-presentation-container">
				
				<div class="ace-presentation-main">
					<p>This is the main child</p>
				</div>
				<div class="ace-presentation-info">
					<p>This is the info child</p>
				</div>
				
		    </div>

    	</div>
    	

	</div>

	<div class="ace-col-12 ace-medium-padding-top example-container">

		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - Multiple</h3>
		</div>

		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">

			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Show / Hide on Mobile" onchange="togglePresentationInfoHideOnMobile"></div>
			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Left Align" onchange="togglePresentationInfoLeftAlign"></div>
			<div class="ace-auto-gen" type="checkbox" label="Toggle Info Show / Hide Explicit" onchange="togglePresentationInfoHideExplicit"></div>

		</div>

		<div class="ace-col-12 ks-target">

			<div class="ace-col-12 ace-presentation-container">

				<div class="ace-presentation-main">
					<p>P1 - Main</p>

					<div class="ace-col-12 ace-presentation-container">

						<div class="ace-presentation-main">
							<p>P3 - Main</p>

							<div class="ace-col-12 ace-presentation-container">

								<div class="ace-presentation-main">
									<p>P4 - Main</p>
								</div>
								<div class="ace-presentation-info">
									<p>P4 - Info</p>
								</div>

								<div class="ace-col-12 ace-presentation-container">

									<div class="ace-presentation-main">
										<p>P5 - Main</p>
									</div>
									<div class="ace-presentation-info">
										<p>P5 - Info</p>
									</div>

								</div>

							</div>

							<div class="ace-col-12 ace-presentation-container">

								<div class="ace-presentation-main">
									<p>P6 - Main</p>
								</div>
								<div class="ace-presentation-info">
									<p>P6 - Info</p>
								</div>

							</div>

						</div>
						<div class="ace-presentation-info">
							<p>P3 - Info</p>
						</div>

					</div>

				</div>
				<div class="ace-presentation-info">
					<p>P1 - Info</p>
				</div>

			</div>

			<div class="ace-col-12 ace-presentation-container">

				<div class="ace-presentation-main">
					<p>P2 - Main</p>
				</div>
				<div class="ace-presentation-info">
					<p>P2 - Info</p>

					<div class="ace-col-12 ace-presentation-container">

						<div class="ace-presentation-main">
							<p>P8 - Main</p>
						</div>
						<div class="ace-presentation-info">
							<p>P8 - Info</p>
						</div>

					</div>

				</div>

			</div>

		</div>


	</div>
	
</div>

<script>

    function presentation_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/presentation.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
