<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-col-2 ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Text Classes - Examples"></h2>
	<div class="ace-col-2 ace-auto-gen info-toggle-button" type="button" iconcls="fa fa-info" action="toggleLocalInfo"></div>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">

	<div class="ace-col-12 info-container ace-hide">
		<p>Various css classes that help with the formating and display of texts.</p>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 1 - Font Size Classes</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>The classes modify the font-size property of elements:</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">no class</div>
			<div class="ace-col-10 ace-col-fm-10">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-50p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-50p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-75p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-75p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-90p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-90p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-100p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-100p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-110p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-110p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-115p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-115p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-120p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-120p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-125p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-125p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-150p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-150p">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-size-200p</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-size-200p">aA bB cC, zZ, 123567890!</div>
		</div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 2 - Font Zoom Classes</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>The classes modify the zoom property of elements:</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">no class</div>
			<div class="ace-col-10 ace-col-fm-10">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-50</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-50">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-75</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-75">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-font-85</div>
			<div class="ace-col-10 ace-col-fm-10 ace-font-85">aA bB cC, zZ, 123567890!</div>
		</div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 3 - Huge Text</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>All these HUGE Text Classes:
						<ul>
							<li>modify that <i>font-size</i>i.</li>
							<li>set the <i>line-height</i> to <b>0 !important</b></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">no class</div>
			<div class="ace-col-10 ace-col-fm-10">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text-110</div>
			<div class="ace-col-10 ace-col-fm-10 ace-huge-text-110">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text-120</div>
			<div class="ace-col-10 ace-col-fm-10 ace-huge-text-120">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text-150</div>
			<div class="ace-col-10 ace-col-fm-10 ace-huge-text-150">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text-200</div>
			<div class="ace-col-10 ace-col-fm-10 ace-huge-text-200">aA bB cC, zZ, 123567890!</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text-250</div>
			<div class="ace-col-10 ace-col-fm-10 ace-huge-text-250">aA bB cC, zZ, 123567890!</div>
		</div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 4 - Small Text</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>These classes affect the size of the texts found <b>ONLY</b> inside the inner <i>value</i> fields of some ACE fields.</li>
					<li>All these SMALL Text Classes:
						<ul>
							<li>modify that <i>font-size</i>i.</li>
							<li>set the <i>line-height</i> to <b>0</b></li>
						</ul>
					</li>
					<li>Notice how in this examples the text outside the value fields is not affected by the classes</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">no class</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-small-text-90">
			<div class="ace-col-2 ace-col-fm-2">ace-small-text-90</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-small-text-80">
			<div class="ace-col-2 ace-col-fm-2">ace-small-text-80</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-small-text-75">
			<div class="ace-col-2 ace-col-fm-2">ace-small-text-75</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-small-text-60">
			<div class="ace-col-2 ace-col-fm-2">ace-small-text-60</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-small-text-50 ">
			<div class="ace-col-2 ace-col-fm-2">ace-small-text-50</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
	    
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 5 - Other text size classes</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>These classes affect affect only the font-size</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">no class</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-bigger-text">
			<div class="ace-col-2 ace-col-fm-2">ace-bigger-text</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-big-text">
			<div class="ace-col-2 ace-col-fm-2">ace-big-text</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-large-text">
			<div class="ace-col-2 ace-col-fm-2">ace-large-text</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding ace-huge-text">
			<div class="ace-col-2 ace-col-fm-2">ace-huge-text</div>
			<div class="ace-col-10 ace-col-fm-10">
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="display" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="text" value="Hello, 123!" label="Label" labelalign="top"></div>
				<div class="ace-col-3 ace-small-padding-right ace-auto-gen" type="combobox" value="20" label="Label" labelalign="top">
				
					<store>
			            <record>
			                <field name="name">John Doe</field>
			                <field name="id">20</field>
			            </record>
			            <record>
			                <field name="name">Sarah Finigen</field>
			                <field name="id">40</field>
			            </record>
			            <record>
			                <field name="name">Billy Jeans</field>
			                <field name="id">3</field>
			            </record>
			        </store>
				
				</div>
			</div>
		</div>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 6 - Alignment</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>The classes to manipulate font alignament.</li>
					<li>The following classes have style written with the <b>!important</b> modifier, and they are used directly by the ace js code.
						<ul>
							<li>ace-ta-center</li>
							<li>ace-ta-lft</li>
							<li>ace-ta-rght</li>
						</ul>
					</li>
					<li>The following classes are not written <b>without</b> the <i>!important</i> modifier.
						<ul>
							<li>ace-text-center</li>
							<li>ace-text-right</li>
							<li>ace-text-left</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">align left</div>
			<div class="ace-col-10 ace-small-padding"><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-ta-lft">ace-ta-lft</div><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-text-left">ace-text-left</div></div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">align right</div>
			<div class="ace-col-10 ace-small-padding"><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-ta-rght">ace-ta-rght</div><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-text-right">ace-text-right</div></div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">align center</div>
			<div class="ace-col-10 ace-small-padding"><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-ta-center">ace-ta-center</div><div class="ace-col-5 ace-col-fm-5 ace-small-margin-right ace-font-size-150p ace-blue-bg ace-text-center">ace-text-center</div></div>
		</div>
		
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 7 - Line Height</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>The classes to manipulate the line height.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">normal</div>
			<div class="ace-col-10">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-no-line-height</div>
			<div class="ace-col-10 ace-no-line-height">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-line-height-half</div>
			<div class="ace-col-10 ace-line-height-half">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-line-height-07</div>
			<div class="ace-col-10 ace-line-height-07">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-line-height-1</div>
			<div class="ace-col-10 ace-line-height-1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-line-height-18</div>
			<div class="ace-col-10 ace-line-height-18">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 8 - Text modifiers</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>ace-white-space-normal: sets the white space property to normal; it uses <b>!important</b></li>
					<li>ace-no-text-wrap: prevents the text from going on the next line</li>
					<li>ace-text-cut-elipsis: if the text does not fit the given element, ... will be added at the end of the text, to signify that there is more to it.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-white-space-normal</div>
			<div class="ace-col-10 ace-white-space-normal">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-no-text-wrap</div>
			<div class="ace-col-10 ace-no-text-wrap">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="ace-col-12 ace-small-padding">
			<div class="ace-col-2 ace-col-fm-2">ace-text-cut-elipsis</div>
			<div class="ace-col-10 ace-no-text-wrap ace-text-cut-elipsis">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 9 - ace-title class</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-title</i>is a useful class to highlight a title, or subtitle.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12">

			<div class="ace-col-4 ace-small-padding-right">
				<div class="ace-col-12 ace-title"><h1>H1 Example</h1></div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">without ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding"><h1>Cool Title</h1></div>
				</div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">with ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding ace-title"><h1>Cool Title</h1></div>
				</div>
			</div>
			<div class="ace-col-4 ace-small-padding-right">
				<div class="ace-col-12 ace-title"><h1>H2 Example</h1></div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">without ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding"><h2>Cool Title</h2></div>
				</div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">with ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding ace-title"><h2>Cool Title</h2></div>
				</div>
			</div>
			<div class="ace-col-4 ace-small-padding-right">
				<div class="ace-col-12 ace-title"><h1>H3 Example</h1></div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">without ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding"><h3>Cool Title</h3></div>
				</div>
				<div class="ace-col-12">
					<div class="ace-col-4 ace-col-fm-4">with ace-title</div>
					<div class="ace-col-8 ace-col-fm-8 ace-small-padding ace-title"><h3>Cool Title</h3></div>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class="">Ex. 10 - Other classes class</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li><i>ace-bold</i>: makes the text stand out.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12">

			<div class="ace-col-2 ace-col-fm-2">
				&nbsp;
			</div>
			
			<div class="ace-col-5 ace-col-fm-5">
				<h4>Without</h4>
			</div>
			
			<div class="ace-col-5 ace-col-fm-5 ace-bold">
				<h4>With</h4>
			</div>
			
		</div>
		<div class="ace-col-12">

			<div class="ace-col-2 ace-col-fm-2">
				ace-bold
			</div>
			
			<div class="ace-col-5 ace-col-fm-5">
				Hello World!
			</div>
			
			<div class="ace-col-5 ace-col-fm-5 ace-bold">
				Hello World!
			</div>
			
		</div>
		
	</div>
	
</div>

<script>

    function text_loaded(target){
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/text.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
