<div class="ace-col-12 ace-transparent-title-bar ace-independent-style">
	<div class="ace-col-2 ace-auto-gen ks-change-example-button" type="button" iconcls="fad fa-angle-left" action="shownMobileExampleSelector"></div>
	<h2 class="ace-auto-gen" type="display" value="Title Bar Classes - Examples"></h2>
	<button class="ace-collapsible-trigger">Info</button>
</div>

<div class="ace-col-12 ace-height-minus-50 ace-scrollview">

	<div class="ace-col-12 info-container ace-collapsible-content">
		<p>Title Bars are regions which are designed to act as placeholders for various title elements: texts, buttons, etc.</p>
		<p>ACE has two classes designed to create a title region: <i>ace-title-bar</i> and <i>ace-transparent-title-bar</i>.</p>
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 1 - Title Bar</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>To define a title bar, use the class: <i>ace-title-bar</i>.</li>
					<li>The class <i>ace-buttons-groups</i> may be used for the container that holds together the buttons in the title bar.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
		
    	</div>
    	
    	<div class="ace-col-12 ace-center ace-medium-margin-top">
			
			<div class="ace-title-bar ace-col-10">
				<h2>
					<i class="fa fa-star"></i> Title Bar
				</h2>
				
				<div class="ace-buttons-groups">
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-plus" value="A1"></div>
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-star" value="A2"></div>
				</div>
			</div>
			
		</div>
    	
	</div>
	
	<div class="ace-col-12 ace-medium-padding-top example-container">
	
		<div class="ace-col-12 ks-example-header ace-medium-margin-bottom ace-small-padding-bottom">
			<h3 class=""><div class="ace-auto-gen ace-right ace-no-border-button" type="button" iconcls="fa fa-eye" action="viewTestView"></div>Ex. 2 - Transparent Title Bar</h3>
			
			<div class="ace-col-12 small-text">
				<ul>
					<li>To define a title bar, use the class: <i>ace-transparent-title-bar</i>.</li>
					<li>The class <i>ace-buttons-groups</i> may be used for the container that holds together the buttons in the title bar.</li>
				</ul>
			</div>
		</div>
		
		<div class="ace-col-12 ks-example-controls ace-flex ace-flex-justify-spacearound ace-flex-wrap-yes">
		
    	</div>
    	
    	<div class="ace-col-12 ace-center ace-medium-margin-top">
			
			<div class="ace-transparent-title-bar ace-col-10">
				<h2>
					<i class="fa fa-star"></i> Title with h2
				</h2>
			</div>
			
		</div>
		
		<div class="ace-col-12 ace-center ace-medium-margin-top">
			
			<div class="ace-transparent-title-bar ace-col-10">
				<div class="ace-auto-gen" type="display" value="Title with Display Field"></div>
				
				<div class="ace-buttons-groups">
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-plus" value="A1"></div>
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-star" value="A2"></div>
				</div>
			</div>
			
		</div>
		
		<div class="ace-col-12 ace-center ace-medium-margin-top">
			
			<div class="ace-transparent-title-bar ace-col-10">
				<div class="ace-auto-gen ace-h2" type="display" value="Title with Display Field + <i>ace-h2</i>"></div>
				
				<div class="ace-buttons-groups">
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-plus" value="A1"></div>
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-star" value="A2"></div>
				</div>
			</div>
			
		</div>
		
		<div class="ace-col-12 ace-center ace-medium-margin-top">
			
			<div class="ace-transparent-title-bar ace-independent-style ace-col-10">
				<h2>
					<i class="fa fa-star"></i> Title with h2, independent style
				</h2>
				
				<div class="ace-buttons-groups">
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-plus" value="A1"></div>
					<div class="ace-auto-gen ace-right" type="button" iconcls="fa fa-star" value="A2"></div>
				</div>
			</div>
			
		</div>
    	
	</div>
	
</div>

<script>

    function titleb_loaded(target){initMotion(target);
        $.aceOverWatch.template.loadScripts("./layout/html/utilities/js/titleb.js", function(){
            /*
             * TO DO: other stuff, as needed
             */
        });
    }
    
</script>
